// CSS Variables.
:root {
	--blue-60: #004ace;
	--blue-70: #0036b5;
	--white: #fff;
    --colors-button-primary-background: $blue-60;
	--colors-button-primary-background-hover: $blue-70;
	--colors-button-primary-text: $white;
	--weight-bold: 700;
	--spacing-50: 8px;
	--spacing-75: 12px;
	--spacing-300: 48px;
}